[user]
    name = Jakub Lekstan
[includeIf "gitdir:~/workspace/"]
    path = ~/.gitconfig.work
[color]
    ui = auto
[diff]
    renames = copy
[url "git@github.com:"]
    insteadOf = "https://github.com/"
